<h1>Torneios</h1>

<p *ngIf="!dataSource"><em>Carregando...</em></p>

<div class="container-fluid text-right">
    <div class="row">
        <button class="btn btn-default" (click)="register()" role="button" data-toggle="modal" data-target="#modalForm" [disabled]="isLoading">Novo torneio</button>
    </div>
</div>

<table class='table' *ngIf="dataSource">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Etapa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataSource">
            <td>{{ item.name }}</td>
            <td class="columnStage">{{ item.stage | tournamentStage }}</td>
            <td class="columnTools">
                <button (click)="playMatch(item)" class="btn btn-default" title="Jogar" [disabled]="isLoading || item.stage == 'CLOSED'"><span class="glyphicon glyphicon-play"></span></button>
                <button (click)="results(item)" class="btn btn-default" title="Resultados" [disabled]="isLoading || item.stage == 'WAITING'"><span class="glyphicon glyphicon-stats"></span></button>
                <button (click)="edit(item)" class="btn btn-default" data-toggle="modal" title="Editar" data-target="#modalForm" [disabled]="isLoading || item.stage == 'CLOSED'"><span class="glyphicon glyphicon-pencil"></span></button>
                <button (click)="delete(item)" class="btn btn-default" [disabled]="isLoading" title="Excluir"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
</table>

<div id="modalForm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{operationTitle}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" (ngSubmit)="f.form.valid && save()" #f="ngForm" autocomplete="off">
                    <div class="form-group">
                        <label for="nameOf" class="col-sm-4 control-label">Nome do torneio</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="nameOf" name="nameOf" placeholder="Nome do torneio" [(ngModel)]="model.name" required #nameOf="ngModel">
                            <div *ngIf="nameOf.errors && (nameOf.dirty || nameOf.touched)">
                                <p class="text-danger" [hidden]="!nameOf.errors.required">
                                    Informe o nome do torneio!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button type="submit" class="btn btn-primary" [disabled]="isLoading || !f.form.valid">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalResults" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{resultsTitle}}</h4>
            </div>
            <div class="modal-body">
                <main id="tournamentResult">
                    <ul class="round round-1" *ngIf="tournamentResult.quarterFinals && tournamentResult.quarterFinals.keyOne[0]">
                        <li class="game game-top">
                            {{ tournamentResult.quarterFinals.keyOne[0].name }}
                        </li>
                        <li class="game game-spacer">&nbsp;</li>
                        <li class="game game-bottom ">
                            {{ tournamentResult.quarterFinals.keyOne[1].name }}
                        </li>

                        <li class="spacer">&nbsp;</li>

                        <li class="game game-top">
                            {{ tournamentResult.quarterFinals.keyTwo[0].name }}
                        </li>
                        <li class="game game-spacer">&nbsp;</li>
                        <li class="game game-bottom ">
                            {{ tournamentResult.quarterFinals.keyTwo[1].name }}
                        </li>

                        <li class="spacer">&nbsp;</li>

                        <li class="game game-top">
                            {{ tournamentResult.quarterFinals.keyTree[0].name }}
                        </li>
                        <li class="game game-spacer">&nbsp;</li>
                        <li class="game game-bottom">
                            {{ tournamentResult.quarterFinals.keyTree[1].name }}
                        </li>

                        <li class="spacer">&nbsp;</li>

                        <li class="game game-top">
                            {{ tournamentResult.quarterFinals.keyFour[0].name }}
                        </li>
                        <li class="game game-spacer">&nbsp;</li>
                        <li class="game game-bottom">
                            {{ tournamentResult.quarterFinals.keyFour[1].name }}
                        </li>
                    </ul>
                    <ul class="round round-2" *ngIf="tournamentResult.semiFinals && tournamentResult.semiFinals.keyOne[0]">
                        <li class="spacer">&nbsp;</li>

                        <li class="game game-top">
                            {{ tournamentResult.semiFinals.keyOne[0].name }}
                        </li>
                        <li class="game game-spacer">&nbsp;</li>
                        <li class="game game-bottom ">
                            {{ tournamentResult.semiFinals.keyOne[1].name }}
                        </li>

                        <li class="spacer">&nbsp;</li>

                        <li class="game game-top">
                            {{ tournamentResult.semiFinals.keyTwo[0].name }}
                        </li>
                        <li class="game game-spacer">&nbsp;</li>
                        <li class="game game-bottom">
                            {{ tournamentResult.semiFinals.keyTwo[1].name }}
                        </li>

                        <li class="spacer">&nbsp;</li>
                    </ul>
                    <ul class="round round-3" *ngIf="tournamentResult.final && tournamentResult.final.teamA">
                        <li class="spacer">&nbsp;</li>

                        <li class="game game-top">
                            {{ tournamentResult.final.teamA.name }}
                        </li>
                        <li class="game game-spacer">&nbsp;</li>
                        <li class="game game-bottom ">
                            {{ tournamentResult.final.teamB.name }}
                        </li>

                        <li class="spacer">&nbsp;</li>
                    </ul>
                    <ul class="round round-4" *ngIf="tournamentResult.winner && tournamentResult.winner">
                        <li class="game game-top winner">
                            {{ tournamentResult.winner.name }}
                        </li>
                    </ul>
                </main>
            </div>
        </div>
    </div>
</div>
